# blacklist everything
/*

# mix stuff
!/mix.exs
!/mix.lock

# configs
!/conf/buildtime.exs
!/conf/runtime.exs

# src code (see .gitignore for an explaination)
!/src/
/src/*
!/src/*/
/src/*/*
!/src/*/*/
/src/*/*/*
!/src/*/*/*/
/src/*/*/*/*
!/src/*/*/*/*/
/src/*/*/*/*/*
!/src/*/*/*/*/*/
/src/*/*/*/*/*/*
!/src/*/*/*/*/*/*/
/src/*/*/*/*/*/*/*
!/src/**/*.ex

# migrations
!/priv/repo/migrations/*.exs

# deps
!/.deps/
