# blacklist everything
*

# allow non-empty directories
!**/

# build files
_build/
cover/

# git(1) stuff
!/.gitignore

# license and readme
!/LICENSE
!/README

# docker stuff
!/Dockerfile
!/docker-compose.yml

# useful things
!/.iex.exs
!/.credo.exs
!/.editorconfig

# the mannager
!/mann

# mix(1) stuff
!/mix.exs
!/mix.lock

# migrations
!/priv/repo/migrations/*.exs

# src code
!/src/**/*.ex

# confs
!/conf/common.exs
!/conf/runtime.exs
!/conf/dev.exs
!/conf/test.exs

# tests
!/test/**/*

# docs
!/docs/**/*

# deps
!/deps/**/*
/deps/*/_build
/deps/*/ebin

# absinthe blacklist
/deps/absinthe/src/*.erl

# erlex blacklist
/deps/erlex/src/parser.erl
/deps/erlex/src/lexer.erl

# github stuff
!/.github/*
