# blacklist everything
/*

# git stuff
!/.gitignore
!/.gitmodules

# license and readme
!/LICENSE
!/README.md
!/CONTRIBUTING.md

# useful things
!/.iex.exs
!/.credo.exs
!/.editorconfig

# the man*n*ager
!/mann

# mix stuff
!/mix.exs
!/mix.lock

## About the following ignore-unignore patterns: well, I know they are not
## perfect, but this is the best solution I could come up with since git
## doesn't let me do:
##
## /*
## !/src/**/*.ex
##
## It did support this, but the commits were reverted somewhen back in 2016.
## What these basically do is to allow couple-levels deep directories only,
## since git doesn't let me select all with **/*.ex (read gitignore(5))

# configs
!/conf/
/conf/*
!/conf/buildtime.exs
!/conf/runtime.exs
!/conf/.env.templ

# src code
!/src/
/src/*
!/src/*/
/src/*/*
!/src/*/*/
/src/*/*/*
!/src/*/*/*/
/src/*/*/*/*
!/src/*/*/*/*/
/src/*/*/*/*/*
!/src/*/*/*/*/*/
/src/*/*/*/*/*/*
!/src/*/*/*/*/*/*/
/src/*/*/*/*/*/*/*
!/src/**/*.ex

# tests
!/test/
/test/*
!/test/*/
/test/*/*
!/test/*/*/
/test/*/*/*
!/test/*/*/*/
/test/*/*/*/*
!/test/*/*/*/*/
/test/*/*/*/*/*
!/test/*/*/*/*/*/
/test/*/*/*/*/*/*
!/test/*/*/*/*/*/*/
/test/*/*/*/*/*/*/*
!/test/**/*.ex
!/test/**/*.test.exs

# versioned migrations
!/priv/
/priv/*
!/priv/repo/
/priv/repo/*
!/priv/repo/migrations
/priv/repo/migrations/*
!/priv/repo/migrations/*.exs

# deps
!/.deps/

# docs
!/docs/
/docs/*
!/docs/*.md
!/docs/*.png
!/docs/*.jpg

# devops stuff
!/Dockerfile
!/.dockerignore
!/devop/
/devop/*
!/devop/.docker-compose.templ

# github stuff
!/.github/
